@import url(./global/global.css);
@import url(./utilidades/tipografia.css);
@import url(./utilidades/cores.css);

@import url(./global/header.css);

@import url(./utilidades/componentes.css);

@import url(./home/introducao.css);

@import url(./bicicletas/bicicletas-lista.css);

@import url(./home/tecnologia.css);
@import url(./home/parceiros.css);

@import url(./home/depoimento.css);

@import url(./seguros/seguros.css);

@import url(./global/footer.css);

@import url(./termos/termos.css);

@import url(./bicicletas/Bicicletas.css);

@import url(./seguros/vantagens.css);
@import url(./seguros/perguntas.css);

@import url(./bicicleta/bicicleta.css);

@import url(./bicicleta/seguro.css);

@import url(./contato/contato.css);
@import url(./contato/lojas.css);
@import url(./utilidades/formulario.css);
@import url(./orcamento/orcamento.css);

@import url(./utilidades/animacao.css);
